.idea/

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/component/loginguard.xml

/component/media/js/*.map

/documentation/*/*.*~

/experiment

/installers/angie

/plugins/**/**/*.xml

/release

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB
/translations