.idea/

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/component/loginguard.xml

/component/media/css/fef.min.css
/component/media/js/*.map
/component/media/fonts
/component/media/images/akeeba-logo.svg

/documentation/*/*.*~

/experiment

/installers/angie

/plugins/**/**/*.xml
/plugins/loginguard/encrypt/secretkey.php

/release

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB
/translations
