.idea/

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/component/loginguard.xml

/component/language/backend/en-GB
/component/language/frontend/en-GB

/component/media/js/*.map

/documentation/*/*.xml~

/experiment

/installers/angie

/plugins/*/*/language/en-GB
/modules/*/*/language/en-GB

/release
