<?xml version="1.0" encoding="utf-8"?>
<!--
 * @package   AkeebaLoginGuard
 * @copyright Copyright (c)2016-2017 Akeeba Ltd
 * @license   GNU General Public License version 3, or later
-->
<config addfieldpath="/administrator/components/com_loginguard/models/fields">

	<fieldset name="captive" label="COM_LOGINGUARD_CONFIG_HEADER_CAPTIVE_LABEL"
			  description="COM_LOGINGUARD_CONFIG_HEADER_CAPTIVE_DESC">

		<field name="allowed_positions_frontend" type="modulepositions" default="" size="7"
			   label="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_FRONTEND_LABEL"
			   description="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_FRONTEND_DESC"
			   client_id="0"
			   multiple="1"
			   class="input-large"/>

		<field name="allowed_positions_backend" type="modulepositions" default="" size="7"
			   label="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_BACKEND_LABEL"
			   description="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_BACKEND_DESC"
			   client_id="1"
			   multiple="1"
			   class="input-large"/>

	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				filter="rules"
				component="com_loginguard"
				section="component"/>
	</fieldset>
</config>